/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-nav: #0084fd;
    --color-bg-color-white: #ffffff;
    --color-bg-color-secondary: #9792e4;
    --color-footer-color: #333333;
    --color-bg-jambo: #b5ddff;
    --color-title-cta: #fdc15f;
}
ul {
    list-style: none;
}
.debug {
    border: 1px solid red;
}
a{
    text-decoration: none;
}

/* general */
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg-color-white);
    font-family: 'PT Sans', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    color: black;
}
a {
    text-decoration: none;
    color: var(--color-bg-color-white);
}
.container {
    width: 100%;
    padding: 20px;
}
p {
    line-height: 1.8;
}
h3 {
    margin: 20px 0;
}
img {
    width: 100%;
    display: block;
}
/* border */
.small-rounded {
    border-radius: 20px;
}
.big-rounded{
    border-radius: 40px;
}
/* bordo img tonde */
.circle{
    border-radius: 50%;
}
.icon {
    font-size: 3em;
}
/* page */
header {
    position: fixed;
    background-color: var(--color-nav);
    color: var(--color-bg-color-white);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: var(--color-nav);
    display: none;
}
header nav {
    position: relative;
    flex-shrink: 0;
}
header nav:hover ul{
    display: block;
}
header nav a {
    display: block;
    padding: 5px 10px;
}

main {
    padding-top: 70px;
}
section {
    padding: 20px;
    scroll-margin-top: 75px;
}
footer {
    background-color: var(--color-footer-color);
    color: var(--color-bg-color-white);
    padding: 20px;
}
#cta>div, footer>div {
    padding: 20px;
}
.card {
    padding: 20px;
    margin-bottom: 20px;
}
.img-content {
    width: 80%;
    margin: 0 auto;
}
#features .container>.card {
    padding-bottom: 0;
}
#testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-img {
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto;
}
.box-img-about {
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
/* paragraph margin */
#features p, #benefits p, #about-us p {
    margin-bottom: 20px;
}

/* utility */
/* btn shape */
.btn-padding {
    padding: 0px 8px;
}
.arrow-padding {
    padding: 8px 10px;
}
.linkedin-btn {
    padding: 7px;
}
    /* background */
.even {
    background-color: var(--color-bg-color-secondary);
}
.bg-light {
    background-color: var(--color-bg-jambo);
}
.bg-white {
    background-color: var(--color-bg-color-white);
}
.bg-btn {
    background-color: var(--color-nav);
}

/* text */
.text-light {
    color: var(--color-bg-color-white);
}
.text-contrast {
    color:var(--color-title-cta);
}
.text-vivid {
    color: var(--color-bg-color-secondary);
}
.text-center {
    text-align: center;
}
.text-blue {
    color: var(--color-nav);
}
.text-cta {
    color: var(--color-title-cta);
}
.title-size {
    font-size: 2em;
}
.f-weight {
    font-weight: 700;
}

/* flex utility */
.d-flex {
    display: flex;
}

/* media query */
@media screen and (min-width: 768px) {
    header nav:hover ul {
        display: flex;
        flex-direction: column;
    }
    header nav ul {
        position: static;
        display: none;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    i.fa-solid.fa-bars{
        display: block;
    }
    #features .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #features .card {
        width: calc(100% / 3 - 14px);
    }
    #features .card:first-child{
        width: calc(100% / 3 * 2 - 8px)
    }
    .text-content {
        width: 60%;
    }
    .img-content {
        width: 40%;
    }
    .img-content img{
       width: 80%;
    }
    #testimonial .card {
        display: flex;
    }
    #testimonial .f-weight {
        text-align: start;
        margin-top: 40px;
    }
    #benefits .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #benefits .card {
        width: calc(100% / 2 - 10px);
    }
    #about-us .container {
        display: flex;
    }
    #about-us .container div {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 1200px) {
    header nav {
        pointer-events: none;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        padding: 0px 10px;
    }
    i.fa-solid.fa-bars {
        display: none;
    }
    #features  {
        padding: 50px 100px;
    }
    #planning .container{
        display: flex;
        padding: 100px;
    }
    #testimonial  .container{
        padding: 50px 100px;
    }
    #testimonial .card {
        align-items: center;
    }
    #benefits .card{
        width: calc(100% / 3 - 20px);
    }
}